.header_title_name {
    background: #91B8CB;
    display: inline-block;
    width: 100%;
    font-size: 70px;
}

.header_title_position {
    font-size: 30px;
}
#header {
    background: #858F9B;
    height: 230px;
    margin-left: 15%;
    margin-right: 15%;
}
#avatar {
    position: absolute; 
    right: 15.4%; 
    top: 0%;
 height: 238px;
}
#left_content_div {
    float: left; 
    width: 50%;
}

#right_content_div {
    float: left; 
    width: 50%;
}

.content_section {
    margin: 30px;
}
.section_title {
    background: #C4BFA4;
    font-size: 30px;
    color: white;
    width: 100%;
    display: inline-block;
}


#content {
    background: #d2d0d2;
    height: 300px;
    margin-left: 15%;
    margin-right: 15%;
}
#ultra_flex{
    text-align: center;
    width: 100%;
     height: 20%;
}